[package]
name = "luwen"
version = "0.7.14"
description = "A high-level interface for safe and efficient access Tenstorrent AI accelerators"
edition = "2021"
license = "Apache-2.0"
authors = ["Daniel Rosen <drosen@tenstorrent.com>"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
luwen-core = { path = "crates/luwen-core", version = "0.2.0" }
luwen-if = { path = "crates/luwen-if", version = "0.7.8" }
luwen-ref = { path = "crates/luwen-ref", version = "0.7.8" }
ttkmd-if = { path = "crates/ttkmd-if", version = "0.2.1" }

serde = { "version" = "1.0.164", features = ["derive"] }
serde_yaml = "0.9.22"
serde_json = "1.0.117"
bincode = "1.3.3"
rand = "0.8.5"
nom = "7.1.3"
clap = { version = "4.4.14", features = ["derive"] }

[package.metadata.workspaces]
independent = true

[features]
test_hardware = []
test_grayskull = []

test_wormhole = []
test_wh_ubb = []
test_n150 = []
test_n300 = []

test_blackhole = []
test_p100a = []
test_p150 = []
test_p300 = []

[workspace]
members = ["crates/*", "app/*"]
