[package]
name = "lipper"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ttchip = {path = "crates/ttchip"}

serde = {"version" = "1.0.164", features = ["derive"]}
serde_yaml = "0.9.22"
bincode = "1.3.3"

[workspace]
members = [
    "crates/*"
]
